@model AcademiEnroll.Models.PeriodoGlobal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>PeriodoGlobal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="Periodo">Periodo</label>
                @Html.DropDownListFor(
                         model => model.Periodo,
                         (SelectList)ViewData["Periodos"],
                         new { @class = "form-control", id = "Periodo" }
                         )
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a asp-controller="Nota" asp-action="Index" class="btn btn-warning">Volver a Notas</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}